.main{
    height: auto !important;
     width: 1000px;
}
.numberDiv{
    width:80%;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.top-div{
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    box-sizing: border-box;
    line-height: 30px;
    margin-left:auto;
    margin-right:auto;
}
.top-div-name{
    font-weight: bold;
    font-size: 15px;
    padding-left:10px;

}
.numberset{
    width:400px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
}
.lottocircle{
    display: table;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size:15px;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left:15px;
    margin-right:15px;
}
.value{
    display:table-cell;
    vertical-align: middle;
}

.footer{
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    text-align: center;
    background-color: #6a737b;
}
.name{
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: #FFaa00;
    line-height: 1.8;
}
p{
    margin: 0;
    color:white;
}
.blog-link{
    text-decoration: none;
    color:white;
}

.ttop{
  margin-top: 20px;
  width: 1000px;
  height: 80px;
  display: table;
  text-align:center;
}

.middle{
  margin-top: 20px;
  width: 1000px;
  height: 500px;
  position: relative;
}

.table{
  position: absolute;
  top: 0px;
  width: 490px;
  height: 500px;
}

.buttons{
  position: absolute;
  top : 220;
  left: 510px;
  width: 50px;
  height: 500px;
}



.resultSec{
  position: absolute;
   top: 0px;
   left: 580px;
   width: 490px;
   height: 500px;
}

.container{
  width: 1400px;
  margin: 0;
}

.numberdiv2{
    top: 110px;
}

.resultNumber{
margin-top: 110px;
}